#navigation {
    background-color: #1d2124;
    width: 100%;
}

#navigation img {
    width: 4%
}

#navigation a {
    color: #ffffff;
    text-decoration: none;
}

#navigation .item {
    font-size: 30px;
    font-family: Open Sans;
    padding-top: 14px;
    margin-left: 0px;
    text-transform: uppercase;
    margin-right: 50px;
}

#navigation .right {
    float: right;
}